<section class="flashes_container">
  <div class="splashlogo_cont">
  <%= image_tag 'wise-spender.gif', alt: 'splash logo', class: 'wise_spender_gif' %>

  </div>
  <div class="flashes_btn_container">
    <%= link_to 'Sign up', new_user_registration_path, class: 'regbtns' %>
    <%= link_to 'Login', new_user_session_path, class: 'regbtns' %>
  </div>
  </section>