<%= form_with(model: @income, local: true) do |form| %>
  <%= form.label :amount %>
  <%= form.number_field :amount %>


  <div class= ''>
    <%= form.submit "Proceed", class: '' %>
  </div>
<% end %>