@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Mono&display=swap');

.category-section {
    font-family: "Fira Sans", sans-serif;
    height: 100vh;
}

.category-navbar {
    background-color: #3778c2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hamburger {
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
}

.log-out-btn,
.log-out-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
}

.categories-text {
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    font-style: normal;
}

.balance-container {
    margin: 20px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    padding: 10px;
    color: rgb(50, 50, 120);
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.balance-text {
    color: black;
    font-size: 25px;
}

.control-income {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 10px;
    color: gray;
}

.control-income,
.category-path, button {
    border: none;
    outline: none;
    background: none;
    color: gray;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 70px;
    /* Adjust this value based on the height of .add-category-button */
}

.category-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

.category-path {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.today-date {
    font-style: italic;
    font-size: 14px;
    color: gray;
}

.category-name, 
.category-name a,
.category-amt {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
}

.category-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(205, 209, 228, 0.5);
    margin-bottom: 20px;
    padding: 20px;
}

.add-category-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5fb523;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.add-category-btn {
    border: 1px solid white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    /* display: inline-block; */
    font-size: 25px;
    width: 100%;
    font-weight: 600;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}

/* Tablet styles */
@media (min-width: 768px) {
    .category-navbar {
        flex-direction: row;
    }

    .balance-text {
        font-size: 30px;
    }

    .control-income {
        font-size: 15px;
    }

    .categories-text {
        font-size: 25px;
    }

    .add-category-btn {
       letter-spacing: 15px;
       font-size: 25px;
       width: 100%;
       height: 100%;
    }

    .category-name,
    .category-name a,
    .category-amt {
        font-size: 25px;
    }

    
}

/* Laptop/desktop styles */
@media (min-width: 1024px) {
    .category-navbar {
        flex-direction: row;
    }

     .balance-text {
      font-size: 40px;
    }

        .log-out-btn,
        .log-out-img {
            width: 50px;
            height: 50px;
        }
}