<section>
    <div>
        <p>Balance <button>Hide Bal</button> </p>
        <p>Pay Out:</p>
        <p>Credit:</p>
        <button>Add Credit</button><button>Reset Credit</button>
    </div>

    <% @categories.each do |category| %>
        <img_tag category.icon %>
        <p> <%= category.name %> </p>
    <% end %>

   <%= button_to 'Add New Category', new_category_path, method: :get %>
</section>